/**
 * Household
 */

// Dependencies
@use 'config/typography';
@use 'config/media';

// Declarations
.c-household {
  padding: 0;

  display: grid;
  gap: calc(var(--nyco-grid) * 2);

  @include media.screen-and-min-width('tablet') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.c-household__member {
  @include typography.set('small');

  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.c-household__description {
  margin-inline-end: var(--nyco-grid)
}

a .c-household__description {
  text-decoration: underline;
}

.c-household__member-icon {
  margin-inline-end: var(--nyco-grid);

  min-height: var(--nyco-spacing-DEFAULT);
  min-width: var(--nyco-spacing-DEFAULT);

  color: var(--nyco-color-white);
  background: var(--nyco-color-green);

  padding: 4px;
  border-radius: 500px;
}

.recap-household-member {
  margin-bottom: calc(var(--nyco-spacing-DEFAULT) * 2);
  width: 100%;

  &::before {
    top: .3em;
  }
}
