//
// Variables, Functions, and Mixins
//

// Dependencies
@use 'config/dimensions';
@use 'config/layouts';
@use 'config/media';

// Declarations
@mixin base() {
  width: 100%;
  background-color: var(--nyco-scale-1);

  overflow: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}

@mixin selector($variant: '', $type: '') {
  .#{$variant}c-dropdown#{$type} {
    @content;
  }
}

@mixin max-height() {
  max-height: var(--nyco-dropdown-max-height);
}

@mixin min-height() {
  min-height: var(--nyco-dropdown-max-height);
}

@mixin inner() {
  @include layouts.wrap();

  padding-top: var(--nyco-spacing-DEFAULT);
  padding-bottom: var(--nyco-spacing-DEFAULT);
}