/**
 * Utility
 */

// Dependencies
@use 'config/layouts';
// @use 'config/media';
@use 'config/nav';
@use 'config/typography';

// Declarations
.c-utility {
  @include typography.font-family('primary');
  @include typography.features('small');

  @include nav.inline('', 'c-utility__item');

  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;

  @include layouts.wrap();

  padding-top: calc(var(--nyco-grid) * 2);
  padding-bottom: calc(var(--nyco-grid) * 2);

  min-height: calc(var(--nyco-grid) * 8);

  // @include media.screen-and-min-width('tablet') {
  //   padding-left: var(--nyco-spacing-DEFAULT);
  //   padding-right: var(--nyco-spacing-DEFAULT);
  // }
}

.pt-utility-anchor {
  padding-top: calc(var(--nyco-grid) * 8);
}

.pb-utility-anchor {
  padding-bottom: calc(var(--nyco-grid) * 8);
}

.mt-utility-anchor {
  margin-top: calc(var(--nyco-grid) * 8);
}

.mb-utility-anchor {
  margin-bottom: calc(var(--nyco-grid) * 8);
}
